<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>File Upload Exercise</title>
  </head>
  <body>
    <form method="POST" action="/upload-profile-pic" enctype="multipart/form-data">
      <div>
        <label for="profile_pic">Select your profile picture:</label>
        <input type="file" name="profile_pic" id="profile_pic" />
      </div>
      <div>
        <input type="submit" value="Upload" />
      </div>
      <h3><a href="/get-pics">Go to all pictures</a></h3>
    </form>
  </body>
</html>